MONGO_URI="mongodb+srv://nadabelmiloud_db_user:<YOUR_PASSWORD>@cluster0.rrvdt3m.mongodb.net/aloo_selekni_db?retryWrites=true&w=majoritymongodb+srv://<db_username>:<db_password>@cluster0.rrvdt3m.mongodb.net/?appName=Cluster0"